@model PrivateNotes.Models.NoteDetailModel

@{
    ViewBag.Title = "Update Note";
    Layout = "_Layout";
}

<h2>Note Details</h2>

@Html.LabelFor(model => model.Title)
@Html.DisplayFor(model => model.Title);

@Html.LabelFor(model => model.Content);
@Html.DisplayFor(model => model.Content);

@Html.ActionLink("Edit", "Update", new { id = Model.NoteId }, new { @class = "btn btn-sm btn-secondary" })
@Html.ActionLink("Delete", "Delete", new { id = Model.NoteId }, new { @class = "btn btn-sm btn-secondary" })
