@model PrivateNotes.Models.NoteDetailModel

@{
    ViewBag.Title = "Update Note";
    Layout = "_Layout";
}

<h2>Note Details</h2>

@Html.LabelFor(model => model.Title, "", new { @class = "col-2 "}):
@Html.DisplayFor(model => model.Title, "", new { @class = "col-10 "})

@Html.LabelFor(model => model.Content, "", new { @class = "col-2 "}):
@Html.DisplayFor(model => model.Content, "", new { @class = "col-10 "})

@Html.ActionLink("Edit", "Update", new { id = Model.NoteId }, new { @class = "btn btn-sm btn-secondary" })
@Html.ActionLink("Delete", "Delete", new { id = Model.NoteId }, new { @class = "btn btn-sm btn-secondary" })
