@model IEnumerable<PrivateNotes.Models.NoteListModel>

@{
    ViewBag.Title = "Notes";
    Layout = "_Layout";
}

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
} else if (TempData.ContainsKey("NoResult"))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["NoResult"]
    </div>
}

<h2>Notes</h2>
@Html.ActionLink("Create a Note", "Create", "Note", null, new { @class = "btn btn-secondary mb-2" })

<div class="row mx-0">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Details", "Detail", new { id = item.NoteId }, new { @class = "btn btn-sm btn-secondary" })
                    @Html.ActionLink("Edit", "Update", new { id = item.NoteId }, new { @class = "btn btn-sm btn-secondary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.NoteId }, new { @class = "btn btn-sm btn-secondary" })
                </td>
            </tr>
        }

    </table>
</div>
